---
---

$spacing-unit: 30px;

@import 'materialize';
@import 'syntax-highlighting';
@import 'prefixer';

$header-height: 480px;
$header-overflow: ($header-height / 4) * 1.5;

@import 'elements/box';
@import 'elements/icons';
@import 'elements/header';
@import 'elements/footer';

@import 'layouts/default';
@import 'layouts/index';
@import 'layouts/post';

.post-social {
    margin-top: $spacing-unit;
}
