<footer class="page-footer grey lighten-3">
	<div class="container row">
		<div class="col s12 m6">
			{% include icons.html icon_list=site.social %}
		</div>
		<div class="col s12 m6">
			{% include icons.html icon_list=site.copyright_icons %}
		</div>
	</div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
{% if page.id %}
<script>{% include share.js %}</script>
{% endif %}
