<div class="row">
    <div class="col s12 l3">
        <a class="btn-flat disabled">share on:</a>
    </div>
    <div class="col s12 l2">
        <a class="btn-flat waves-effect waves-facebook share facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
    </div>
    <div class="col s12 l2">
        <a class="btn-flat waves-effect waves-googleplus share googleplus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
    </div>
    <div class="col s12 l2">
        <a class="btn-flat waves-effect waves-reddit share reddit" href="https://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on reddit">reddit</a>
    </div>
    <div class="col s12 l2">
        <a class="btn-flat waves-effect waves-twitter share twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.social.twitter }}&related={{ site.social.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
    </div>
</div>
