#content {
	color: color('grey', 'darken-2');

	padding-top: $header-overflow;

	#site-title {
		background-image: url('/img/androidchat-logo.png');
		background-repeat: no-repeat;
		background-size: 70px;
		color: white;
		padding-bottom: 10px;
		text-indent: 70px;
		line-height: 100px;
	}
}
