.post {
	font-size: 14px;

	#post-author {
		margin: 0 0 32px 0;

		@media #{$small-and-down} {
			font-size: 16px;
		}

		.center-vertical {
			@extend .valign-wrapper;

		    justify-content: center;

			@media #{$medium-and-down} {
				@media #{$medium-and-up} {
					display: block;

					.col {

						text-align: center;

						.avatar-wrapper {
							display: inline-block;
							margin-bottom: 16px;
						}


						#post-meta {
							width: 100%;
						}
					}
				}
			}

		    .col {
		    	height: 100%;
		    	padding: 0;

		    	&.no-avatar {
		    		text-align: center;

		    		.post-meta {
		    			padding-left: 0;
		    		}
		    	}

				.avatar-wrapper {
					display: inline-block;

					width: 64px;
					height: 64px;

					@media #{$large-and-up} {
						float: right;
					}

					.avatar {
						vertical-align: bottom;

						width: 100%;
						height: 100%;
						border-radius: 50%;
					}
				}

				.post-meta {
					@extend .valign;

					display: inline-block;

					padding-left: 16px;

					.author-name {
						display: block;

						font-weight: bold;
						color: inherit;
					}
				}
			}
		}

		.author-social {
			margin: 16px 0;
			text-align: center;
		}
	}

	.post-content {
		font-size: 16px;

		& :first-child {
			margin-top: 0;
		}

		& p:first-child em:only-child {
			margin-bottom: 48px;
			display: block;
		}

		img {
			max-width: 100%;
		}

		code {
			word-wrap: break-word;
		}

		$h1-post-fontsize: $h4-fontsize;
		$h2-post-fontsize: (($h4-fontsize - $h5-fontsize) / 2) + $h5-fontsize;
		$h3-post-fontsize: $h5-fontsize;
		$h4-post-fontsize: (($h5-fontsize - $h6-fontsize) / 2) + $h6-fontsize;
		$h5-post-fontsize: $h6-fontsize;

		// Straight from Materialize.scss
		h1 { font-size: $h1-post-fontsize; line-height: 110%; margin: ($h1-post-fontsize / 2) 0 ($h1-post-fontsize / 2.5) 0;}
		h2 { font-size: $h2-post-fontsize; line-height: 110%; margin: ($h2-post-fontsize / 2) 0 ($h2-post-fontsize / 2.5) 0;}
		h3 { font-size: $h3-post-fontsize; line-height: 110%; margin: ($h3-post-fontsize / 2) 0 ($h3-post-fontsize / 2.5) 0;}
		h4 { font-size: $h4-post-fontsize; line-height: 110%; margin: ($h4-post-fontsize / 2) 0 ($h4-post-fontsize / 2.5) 0;}
		h5, h6 { font-size: $h5-post-fontsize; line-height: 110%; margin: ($h5-post-fontsize / 2) 0 ($h5-post-fontsize / 2.5) 0;}
	}
}
