.share {
    &.facebook {
        color: #3B5998;
    }

    &.googleplus {
        color: #DC4E41;
    }

    &.reddit {
        color: #336699;
    }

    &.twitter {
        color: #55ACEE;
    }
}
