<!DOCTYPE html>
<html lang="en">
	{% assign header_url = 'default.jpg' | prepend: site.headers %}
	{% if page.header %}
		{% assign header_url = page.header | prepend: site.headers %}
	{% else %}
		{% unless page.id %}
			{% if site.posts.first.header %}
				{% assign header_url = site.posts.first.header | prepend: site.headers %}
			{% endif %}
		{% endunless %}
	{% endif %}

	{% include head.html %}
	<body class="grey lighten-5">
		{% include header.html %}
		<div id="content">
			<div class="container">
				<a href="{{ page.url }}">
					<h2 id="site-title" itemprop="name headline">{{ title }}</h2>
				</a>
				<a href="https://join.slack.com/t/androidchat/shared_invite/enQtNzI1NDg2MjkyOTAxLWUzMTU1M2Y4YmFmMDdhNWM3ZDJiNDBiNDQ4ZGI0YzA0ZmFlODk1ZjNiODEzZDc0MjgzOGMzYjllZjFjYzBjYjA"><img src="https://a.slack-edge.com/02728/img/sign_in_with_slack.png" style="margin-top: -26px; margin-bottom: 10px;"></a>
			</div>

			{{ content }}
		</div>
		{% include footer.html %}
	</body>
</html>
