---
layout: default
---

<div class="box container home row">
	<div class="col s12 l10 offset-l1">
		{% for post in site.posts %}
			<article class="post">
				<h4 class="post-title">
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h4>
				<div class="post-meta">
					{% for author in post.authors %}
						{% if forloop.first %}
							<span class="author-name">{{ site.data.authors[author].name }}</span>,
							{% break %}
						{% endif %}
					{% endfor %}
					{{ author }}
					<time class="post-time" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
						{{ post.date | date: '%b %-d, %Y' }}
					</time>
				</div>
				<div class="post-content">
					{{ post.excerpt | strip_html | strip_newlines | truncatewords: 600 }}
				</div>
			</article>
		{% endfor %}
	</div>
</div>

<div class="box container info row">
	<div class="col s12 l10 offset-l1">
		{{ site.description | markdownify }}

		<div id="slack-join">
			<script async defer src="https://slackin-androidchat.mybluemix.net/slackin.js?large"></script>
			<p>
				Click the Slack button join!
			</p>
		</div>
	</div>
</div>
