---
layout: default
---

<div class="box container">
	<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="row">
			<div id="post-author" class="col s12 m3">
				{% for author_name in page.authors %}
					{% assign author = site.data.authors[author_name] %}
					{% if author.social.github_id %}
						{% assign avatar_link = author.social.github_id | prepend: 'https://avatars.githubusercontent.com/u/' | append: '?v=3&s=128' %}
					{% elsif author.social.twitter %}
						{% assign avatar_link = author.social.twitter | prepend: site.social_networks.twitter | append: '/profile_image?size=bigger' %}
					{% else %}
						{% assign avatar_link = false %}
					{% endif %}
					{% assign github_page = author_name | prepend: site.social_networks.github %}

					<div class="row">
						<div class="center-vertical">
							{% if avatar_link %}
								<div class="col m12 l4">
									<div class="avatar-wrapper">
										<a href="{{ github_page }}" target="_blank">
											<img class="avatar" src="{{ avatar_link }}" alt="{{ author.name }}"/>
										</a>
									</div>
								</div>
								<div class="col m12 l8">
							{% else %}
								<div class="col s12 no-avatar">
							{% endif %}
									<div class="post-meta">
										<a href="{{ github_page }}" target="_blank" class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">
											<span itemprop="name">
												{{ author.name }}
											</span>
										</a>
										{% if forloop.first %}
											<time class="post-time" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
												{{ page.date | date: '%b %-d, %Y' }}
											</time>
										{% endif %}
									</div>
								</div>
							</div>
					</div>
					{% if author.social %}
						<div class="author-social">
							{% include icons.html icon_list=author.social %}
						</div>
					{% endif %}

				{% endfor %}
			</div>
			<div class="col s12 m9">
                <div class="post-content" itemprop="articleBody">
                    {{ content }}
                </div>
                <div class="post-social">
                    {% include social.html %}
                </div>
			</div>
	    </div>
	</article>
</div>
